<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: meta_header('書籍一覧',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/index.css}" />
    <script type="text/javascript" th:src="@{/js/book/index.js}"></script>
</head>
<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍一覧</div>
                <body>
                    <div class="button">   
                    <button type=“button” class="index_button" onclick="location.href='http://localhost:8080/mt_library/book/add'">
                        <img th:src="@{/images/icons/add.png}" alt="アイコン" style="height: 13px; vertical-align: middle; margin-right: 5px;">書籍登録
                    </button></div>
                </body>
                <table class="books_table">
                    <th class="sticky">書籍名</th>
                    <th class="sticky">ISBN</th>
                    </thead>
                    <tbody>
                        <tr th:each="bookMst : ${bookMstList}">
                                <td>
                                <a th:href="@{/book/edit/{id}(id=${bookMst.id})}">
                                <img th:src="@{/images/icons/edit.png}" alt="アイコン" style="height: 13px; vertical-align: middle; margin-right: 5px;">
                                </a>
                                <img th:src="@{/images/icons/trash.png}" alt="アイコン" style="height: 13px; vertical-align: middle; margin-right: 5px;">
                                <span th:text="${bookMst.title}">書籍タイトル</span></td>
                                
                            
                                  <td th:text="${bookMst.isbn}">ISBNコード</td>
                        </tr>
                    </tbody>
                </table>
          
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>
